*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --red: #e0565b;
  --yellow: #ffffd6;
  --dark: #2e2e48;
  --brown: #3f3f1a;
  --light: #fafafc;
  --gray: #efeff5;
  --white: #fff;
  --side-padding: 3rem;
  --max-width: 40%;
  --container-width: 1200px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--dark);
  background: var(--light);
  -webkit-tap-highlight-color: transparent;

  &.dark {
    --dark: #fafafc;
    --white: #112;
    --light: #1e1e38;
    --gray: #002;
  }
}

input,
a,
button {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

::selection {
  color: var(--light);
  background: var(--red);
}

.btn {
  --color: var(--dark);
  --bgcolor: var(--light);

  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--color);
  white-space: nowrap;
  background: var(--bgcolor);
  border-radius: 0.66rem;
  box-shadow: 0 0.5rem 1.5rem -0.5rem currentcolor;
  transition: all 0.2s;

  &.btn-dark {
    --color: var(--light);
    --bgcolor: var(--dark);
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px var(--color), 0 0 0 4px var(--bgcolor);
  }

  &:active {
    transform: scale(0.95);
  }
}

section {
  &:not(.hero) {
    margin: 3rem var(--side-padding);
  }

  &:last-of-type {
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 800;
  }
}

#nprogress {
  .bar {
    background: var(--red);
  }

  .peg {
    box-shadow: 0 0 10px var(--red), 0 0 5px var(--red);
  }
}

@media (max-width: 36rem) {
  :root {
    --side-padding: 1.5rem;
    --max-width: 100%;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  section h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 48rem) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 81rem) {
  html {
    font-size: 18px;
  }

  section:not(.hero) {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}
